body {
  background-color: gray;
}

.container {
  background: white;
  margin: 60px auto;
  width: 600px;
  padding: 0px 20px 20px 20px;
  border: 1px solid black;
  box-shadow: 5px 5px 30px;
  border-radius: 3px;
}
th {
  text-align: left;
}

h1 {
  text-align: center;
}
.racer_table td {
  border: 1px solid black;
  background-color: white;
  height: 20px;
  width: 20px;
}

.racer_table td.active {
  background-color: black;
}

a {
  padding-right: 15px;
}

.game_title {
  text-decoration: none;
  color: black;
}

.game_title:hover {
  color: purple;
}