<h1>Ruby Racer!</h1>


<form method='post' action='/new_players'>
  <input type='text' name='player1' placeholder='Player 1 Name' autofocus='autofocus'>
  <input type='text' name='player2' placeholder='Player 2 Name'>
  <input type='submit' value='Play!'>
</form>