<h1><a class='game_title' href='/'>Ruby Racer!</a></h1>


<form method='post' action='/new_players'>
  <input type='text' name='player1' placeholder='Player 1 Name' autofocus='autofocus'><br><br>
  <input type='text' name='player2' placeholder='Player 2 Name'><br><br>
  <input type='submit' value='Play!'>
</form>