<h1>Detailed View for Game <%= @game.id %></h1>
<ul>
  <li>Player 1: <%= @game.player1.name %></li>
  <li>Player 2: <%= @game.player2.name %></li>
  <li>And the winner was: <%= @winner.name %></li>
</ul>